
body {
    background-color:lavender;
}

h1 {
    color:crimson;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}

p {
    color:black;
    font-family: 'IBM Plex Serif', serif;
}

h2 {
    color:blue;
}
