body {
    height: 200%;
}

h1 {
    color:#000;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}

p, ol {
    color: #000;
    font-family: 'IBM Plex Serif', serif;
}

section {
    max-width: 500px;
    padding: 0px;
    margin: 0;
}

nav {
    height: 60px;
    background-color: var(--nav-bg-color);
}
  
nav ul {
    height: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container {
    display: flex;
    justify-content: right;
    align-items: center;
}
    
nav li {
    list-style-type: none;
}

ul, a {
    list-style-type: none;
    text-decoration: none;
}


nav a:visited {
    color: #DC143C;
}

nav a:hover {
    text-decoration: underline;
}


