body {
    background-color:#E6E6FA;
}

h1 {
    color:#DC143C;
    text-align: center;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}

p, h2, ol {
    color: #000;
    font-family: 'IBM Plex Serif', serif;
    max-width: 400px;
}

section {
    max-width: 200px;
    padding: 0px;
    border-bottom: 5px solid gray;
    margin: 0;
}



  
nav ul {
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
    background-color: aquamarine;
}



:root {
    background: white;
}

